::placeholder {
    color: rgb(0, 0, 0, 0.75);
}

.hero {
    height: 30vh;
    align-items: center;
}

.contact {
    padding: 20px 5%;
    gap: 20px;
    align-items: flex-start;
}

.contact article {
    width: 100%;
}

.phone {
    margin: 0;
    margin-bottom: 20px;
}

#contact-form {
    width: 100%;
    padding: 0 10px;
    margin-inline: 10%;
}

#contact-form h1 {
    margin-bottom: 30px;
}

.field {
    width: -webkit-fill-available;
    margin-bottom: 20px;
}

.field .input {
    width: inherit;
    border: none;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    border-bottom: 1px solid #222;
    padding-inline: 5px;
}

.field textarea {
    height: 20vh;
    line-height: 1.2 !important;
}

#contact-form button {
    padding: 10px 20px;
}