@media screen and (max-width : 426px) {

    #collapse {
        display: none;
    }

    #open-mobile-menu {
        display: inline-flex;
    }


    .call-to-action h1 {
        font-size: clamp(2.5rem, 0.9762rem + 7.619vw, 3rem);
    }

    .teaser {
        font-size: (1.125rem, 0.3631rem + 3.8095vw, 1.375rem)
    }

    .info {
        flex-direction: column;
    }

    .info img {
        width: 90%;
    }

    .search-container {
        max-width: 100%;
    }
}

@media screen and (max-width : 840px) {

    header nav a {
        font-size: calc(1em / 1.25);
    }

    .call-to-action {
        max-width: 100%;
    }

    .call-to-action p {
        line-height: calc(15px * 1.618);
    }

    .cta-button {
        margin-bottom: 20px;
    }

    .bg-image .hero {
        height: auto;
    }

    .flex {
        font-size: 18px;
    }

    .flex h1 {
        font-size: 20px;
        margin-right: 6px;
    }

    .teser h3 {
        text-align: left;
        padding-left: 10px;
        font-size: 12px;
        margin-top: 20px;
    }
    
    .highlight{
         padding: 10px;
    }

    .mt-font {
        padding: 20px;
    }

    #about .wt-400 {
        /* font-size: 16px; */
    }

    .service-img {
        height: 30vh;
    }
}

@media (min-width: 600px) {
    footer {
        padding-inline: 50px;
    }
    
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-container .footer-section {
        margin-bottom: 0;
        max-width: 30%;
    }

    .footer-container .footer-section h3 {
        font-size: 20px;
    }

    .footer-container .footer-section p,
    .footer-container .footer-section a {
        /* font-size: 16px; */
    }
}