:root {
    --positive-green : #008000;
}

.hero {
    height: auto;
}

.cta-button {
    background-color: var(--positive-green);
    color: #fff;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #218838;
}

.services {
    margin: 10px 0;
    padding: 0 10px;
    text-align: center;
}

.service-container {
    flex-wrap: wrap;
}

.service {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    flex: 1;
    text-align: center;
    transition: transform 0.3s;
}

.service:hover {
    transform: translateY(-10px);
}

.service img {
    width: 100%;
    border-radius: 8px;
}

.service h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}

.service p {
    margin-bottom: 20px;
    font-size: 16px;
}
